Здравствуйте. Вас приветствует Мастер ИТ.
Вы приглашены в качестве Эксперта в нашем проекте masterit.ru
Пожалуйста если хотите принять участие, пройдите по ссылке и смените в личном кабинете пароль.
http://masterit.heroku.com/users/sign_in

Ваш логин: #{@expert.email}
Ваш временный пароль: #{@pwd}

Благодарим вас за участие в нашем проекте.