#ace-settings-container
  #ace-settings-btn.btn.btn-app.btn-mini.btn-warning
    %i.icon-cog
  #ace-settings-box
    %div
      %input#ace-settings-header.ace-checkbox-2{:type => "checkbox"}/
      %label.lbl{:for => "ace-settings-header"} Fixed Header
    %div
      %input#ace-settings-sidebar.ace-checkbox-2{:type => "checkbox"}/
      %label.lbl{:for => "ace-settings-sidebar"} Fixed Sidebar