#breadcrumbs
  %ul.breadcrumb
    %li
      %i.icon-home
      %a{:href => "#"} Home
      %span.divider
        %i.icon-angle-right
    %li.active Dashboard
  #nav-search
    %form.form-search
      %span.input-icon
        %input#nav-search-input.input-small.search-query{:autocomplete => "off", :placeholder => "Search ...", :type => "text"}/
        %i#nav-search-icon.icon-search