!!! 5
%html(lang="ru")
  = render 'layouts/web/shared/head'
  - if user_signed_in?
    = render 'layouts/web/shared/application_signed_in'
  - else
    = render 'layouts/web/shared/application_signed_out'
